# <OpenID voting platform> Copyright (c) 2012  Suomen Verkkodemokratiaseura ry  <toimisto@verkkodemokratia.fi> This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the file LICENSE.TXT in the root directory of this program and GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>.
From: xxxx.xxxx@xxxx.xx
Reply-To: xxxx.xxxx@xxxx.xx
Errors-To: xxxx@xxxx.xx
Subject: =?utf-8?q?Nuorisovaalit_2011_-_varjovaalien_tulosj=C3=A4rjestelm=C3=A4?=
To: %(addr)s
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit


Koulunne (%(school)s) on osallistunut Nuorisovaalit 2011 -hankkeen
varjovaaleihin ja teidät on merkitty yhteyshenkilöksi siihen liittyvissä
asioissa, minkä johdosta saatte tämän viestin. Olkaa hyvä ja säilyttäkää tämä
sähköposti.

Tässä tunnuksesi järjestelmän käyttöön:

  Käyttäjätunnus: %(username)s
  
  Salasana: %(password)s


UURNAVAALIEN TULOSTEN LATAAMINEN JÄRJESTELMÄÄN (28.3. - 8.4.)

  1. Mene osoitteeseen https://koulut.nuorisovaalit2011.fi ja kirjaudu sisään
     ylläolevilla tunnuksilla.

  2. Valitse kohta "Tulosten lataaminen" valikosta.

  3. Lataa vaalipiirisi ehdokaslista sivulta ja täydennä siihen koulunne
     äänimäärät.
  
  4. Lataa sivulle täydennetty ehdokaslista ja klikkaa "Lähetä tulostiedot".

Tiedot on ladattava järjestelmään 28.3. - 8.4. välisenä aikana.
Ongelmatilanteissa voit olla yhteydessä xxxx xxxx sähköpostilla
(xxxx.xxxx@xxxx.xx) tai puhelimella (xxx xxx xxxx).


OPPILASTIETOJEN LATAAMINEN SÄHKÖISTÄ ENNAKKOÄÄNESTYSTÄ VARTEN

Mikäli koulusi ei ole osallistunut sähköisen etä-äänestämisen kokeiluun, voit
ohittaa tämän osion.

  1. Mene osoitteeseen https://koulut.nuorisovaalit2011.fi ja kirjaudu sisään
     ylläolevilla tunnuksilla.

  2. Valitse kohta "Oppilastietojen lataaminen" valikosta.

  3. Lataa taulukkopohja sivulta ja täydennä siihen oppilastiedot (kentistä
     puhelinnumero, sähköposti ja kotiosoite yksi on pakollinen).

  4. Lataa täydennetty taulukko järjestelmään ja klikkaa "Lataa oppilastiedot".

28.3. alkaen voit ladata sivulta uurnavaalia varten oppilaslistan, johon on
merkitty ennakkoäänestyksessä äänensä käyttäneet oppilaat. Ennakkoäänestykseen
osallistuneet oppilaat eivät ole äänioikeutettuja uurnavaaleissa.

Kiitos osallistumisestanne!
