# <OpenID voting platform> Copyright (c) 2012  Suomen Verkkodemokratiaseura ry  <toimisto@verkkodemokratia.fi> This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the file LICENSE.TXT in the root directory of this program and GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>.
From: xxxx.xxxx@xxxx.xx
Reply-To: xxxx.xxxx@xxxx.xx
Errors-To: xxxx@xxxx.xx
Subject: =?utf-8?q?Nuorisovaalit2011_-_=C3=A4=C3=A4nestystunnukset?=
To: %(addr)s
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit


Hei!

Koulusi osallistuu eduskuntavaalien varjovaaleihin, jossa voit äänestää omaa
ehdokastasi myös netissä.

Äänestää voit 21.3. - 27.3. välisenä aikana.

Toimi näin:

 1. Mene äänestyssivulle www.nuorisovaalit2011.fi

 2. Kirjaudu sisään henkilökohtaisilla tunnuksillasi:

      Käyttäjätunnus: %(username)s
      Salasana: %(password)s

 3. Valitse oma ehdokkaasi ja äänestä.


Oman ehdokkaasi löytämiseen saat apua Nuorten vaalikoneesta osoitteessa
www.nuortenvaalikone.fi.

Mikäli äänestät ennakkoon netissä, et voi enää äänestää koulunne
uurnavaaleissa.

Valtakunnalliset varjovaalien tulokset julkistetaan 12.4. - ole silloin
tarkkana ja seuraa, millaisen eduskunnan alle 18-vuotiaat olisivat valinneet.


Hyviä äänestyshetkiä!

Ystävällisin terveisin,
xxxx xxxx p. xxx - xxxxxxxx

xxxx xxxx - xxxx (www.xxxx.xx)
xxxx xxxx (www.xxxx.xx)
